*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #1a232c;
    color: #afafaf;
}
section{
    padding-top: 5rem;
    height: 100%;
}
.home__section, .projects__section, .contact__section{
    background-color: rgb(237, 241, 245);
    color: black;
}
.sticky__header{
    position: sticky;
    top: 0;
}
/*Navbar starts here*/
.navbar {
    background-color: #0F0F0F;
    padding: 2rem;
}
.navbar__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
.navbar__links{
    color: #c4c4c4;
    font-size: 1.4rem;
    text-decoration: none;
}
.navbar__links:hover{
    color: #007f5b;
}
/*Navbar ends here*/

/*Home starts here*/
.title, .subtitle, .paragraph{
    margin: 0 auto;
    width: 60%;
    padding: 1rem;
}
.title{
    font-size: 5rem;
}
.subtitle{
    font-size: 2rem;
    color: #009f8a;
}
.paragraph{
    font-size: 1.2rem;
}
.home__p{
    font-size: 8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 16rem;
}
.dev__style{
    font-size: 8rem;
    color: #7f0000;
}
.index__img{
    width: 15rem;
    margin-left: 21%;
}
/*Home ends here*/

/*Projects start here*/
.grid__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.projects__section{
    padding: 2rem;
    border: 1px solid #1a232c;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
/*Projects ends here*/